*{
    background-color: purple;
    color: black;
}
#dev{
    background-color: aqua;
    color: brown;
}
.rino{
    text-align: left;
    text-decoration: solid;

}
.bab{
    text-size-adjust: 15;
    background-color: bisque;
    text-decoration-color: blue;
}
